.dark-mode {
    background-color: $grisOscuro;

    p {
        color: $blanco;
    }

    a,
    h1,
    h2,
    h3,
    h4 {
        color: $gris;
    }

    .anuncio {
        background-color: $grisOscuro;
        border: 1px solid darken($grisOscuro, 10);

        .precio {
            color: $verde;
        }
    }

    .iconos-caracteristicas {
        img {
            filter: invert(100%);
        }
    }

    .formulario {
        p,
        legend,
        label {
            color: $gris;
        }

        fieldset {
            background-color: darken($grisOscuro, 10);
            border: $gris;
        }

        input:not([type="submit"]),
        textArea,
        select {
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }

    .footer,
    .header {
        background-color: darken($grisOscuro, 8);
    }
}
